<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-init-method="init"
       default-destroy-method="destroy">

    <bean id="beanByInterface" class="br.net.pnt.lifecycle.InitDestroyByInterface"/>
    <bean id="beanByXml" class="br.net.pnt.lifecycle.InitDestroyByXmlConfig"
          init-method="initBean" destroy-method="destroyBean"/>
    <bean id="beanByDefaultConfig" class="br.net.pnt.lifecycle.InitDestroyByDefaultConfig"/>
</beans>